body {
  background-color: #000000;
  /* width: 100%; */
  width: 372px;
  height: 847px;
}

/*  .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 372px;
  height: 847px;
  position: relative;
} */
/* header */
/* TODO */
.header {
  position: fixed; /* ここを変更 */
  width: 372px;
  height: 55px;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
  box-shadow: 6px 6px 15px #a1a1a1e6, -6px -6px 12px #ffffffe6,
    6px -6px 12px #a1a1a133, -6px 6px 12px #a1a1a133,
    inset -1px -1px 2px #a1a1a180, inset 1px 1px 2px #ffffff4c;
}

.v-icon {
  position: absolute;
  width: 74px;
  height: 69px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.search {
  position: absolute;
  width: 245px;
  height: 46px;
  top: 4px;
  left: 74px;
  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 1px #403c4329;
}

.component {
  position: absolute;
  width: 60px;
  height: 29px;
  top: 9px;
  left: 173px;
}

.button-about-this {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
  left: 323px;
  object-fit: cover;
}
/* navigation */
/* TODO */
/*  .navigation {
  position: absolute;
  width: 1061px;
  height: 40px;
  top: 61px;
  left: 8px;
} */
.navigation {
  width: 373px;
  height: 40px;
  display: flex; /* Flexboxを有効にします */
  flex-wrap: nowrap; /* 要素を一行に並べ、折り返しを防ぎます */
  align-items: center; /* 要素を垂直方向の中央に配置します */
  overflow-x: auto; /* 横スクロールを有効にします */
}
.nav-item {
  flex: 0 0 auto; /* Flexboxアイテムとしての挙動を制御 */
  width: 65px; /* 幅を指定 */
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #dadce0;
  margin-right: 10px; /* 隣接する要素との間隔 */
  /* 他の必要なスタイル */
}
.nav-item-text {
  font-family: "Roboto", Helvetica; /* 共通のフォント */
  font-size: 14px; /* 共通のフォントサイズ */
  color: #202124; /* 共通のテキストカラー */
  text-align: center; /* テキストを中央揃え */
  margin: auto; /* 自動マージンで中央に配置 */
  /* その他の共通スタイル */
}
/* overlap */
/* TODO */
.main {
  display: flex;
  
  width: 100%;
  top: 120px;
}

.article {
  width: 342px;
  height: 804px;
}

.frame {
  position: absolute;
  width: 342px;
  height: 148px;
  top: 656px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 8px 8px 20px #8c8c8ce6, -8px -8px 16px #ffffffe6,
    8px -8px 16px #8c8c8c33, -8px 8px 16px #8c8c8c33,
    inset -1px -1px 2px #8c8c8c80, inset 1px 1px 2px #ffffff4c;
}

.div-npnb {
  position: relative;
  width: 320px;
  height: 117px;
  top: 13px;
  left: 12px;
  overflow: hidden;
}

.overlap-group {
  width: 320px;
  height: 74px;
  top: -1px;
  position: absolute;
  left: 0;
}

.div-2 {
  width: 320px;
  position: absolute;
  height: 73px;
  top: 1px;
  left: 0;
}

.link-heading {
  position: absolute;
  width: 71px;
  height: 22px;
  top: 45px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #1a0dab;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.img {
  left: 275px;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 22px;
  object-fit: cover;
}

.span {
  top: 6px;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  background-color: #f1f3f4;
  border-radius: 14px;
  border: 1px solid;
  border-color: #ecedef;
}

.image {
  background-image: url(./img/image.png);
  position: relative;
  width: 18px;
  height: 18px;
  top: 5px;
  left: 5px;
  background-size: cover;
  background-position: 50% 50%;
}

.text-wrapper-9 {
  position: absolute;
  width: 48px;
  height: 20px;
  top: 0;
  left: 40px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #202124;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.text {
  width: 241px;
  top: 21px;
  position: absolute;
  height: 18px;
  left: 40px;
}

.p {
  position: absolute;
  width: 236px;
  height: 14px;
  top: 1px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #4d5156;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.div-vwicb {
  position: absolute;
  width: 320px;
  height: 44px;
  top: 73px;
  left: 0;
  overflow: hidden;
}

.dec-firebase {
  position: absolute;
  width: 566px;
  height: 38px;
  top: 2px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.text-wrapper-10 {
  color: #70757a;
}

.text-wrapper-11 {
  font-weight: 700;
  color: #5f6368;
}

.text-wrapper-12 {
  color: #4d5156;
}

.div-npnb-wrapper {
  top: 492px;
  position: absolute;
  width: 342px;
  height: 148px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 8px 8px 20px #8c8c8ce6, -8px -8px 16px #ffffffe6,
    8px -8px 16px #8c8c8c33, -8px 8px 16px #8c8c8c33,
    inset -1px -1px 2px #8c8c8c80, inset 1px 1px 2px #ffffff4c;
}

.div-3 {
  width: 321px;
  left: 10px;
  overflow: hidden;
  position: relative;
  height: 117px;
  top: 16px;
}

.overlap-group-2 {
  width: 321px;
  position: absolute;
  height: 74px;
  top: -1px;
  left: 0;
}

.div-4 {
  width: 321px;
  position: absolute;
  height: 73px;
  top: 1px;
  left: 0;
}

.link-heading-2 {
  position: absolute;
  width: 78px;
  height: 22px;
  top: 45px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #1a0dab;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.button-about-this-2 {
  left: 135px;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 22px;
  object-fit: cover;
}

.image-2 {
  background-image: url(./img/image-1.png);
  position: relative;
  width: 18px;
  height: 18px;
  top: 5px;
  left: 5px;
  background-size: cover;
  background-position: 50% 50%;
}

.text-wrapper-13 {
  position: absolute;
  width: 76px;
  height: 20px;
  top: 0;
  left: 40px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #202124;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.text-2 {
  width: 101px;
  top: 21px;
  position: absolute;
  height: 18px;
  left: 40px;
}

.text-wrapper-14 {
  position: absolute;
  width: 97px;
  height: 14px;
  top: 1px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #4d5156;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.make-your-app-the-wrapper {
  width: 321px;
  position: absolute;
  height: 44px;
  top: 73px;
  left: 0;
  overflow: hidden;
}

.make-your-app-the {
  position: absolute;
  width: 574px;
  height: 38px;
  top: 2px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #4d5156;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.frame-2 {
  position: absolute;
  width: 342px;
  height: 148px;
  top: 328px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 8px 8px 20px #8c8c8ce6, -8px -8px 16px #ffffffe6,
    8px -8px 16px #8c8c8c33, -8px 8px 16px #8c8c8c33,
    inset -1px -1px 2px #8c8c8c80, inset 1px 1px 2px #ffffff4c;
}

.div-5 {
  width: 322px;
  left: 10px;
  position: relative;
  height: 117px;
  top: 16px;
}

.overlap-group-3 {
  width: 322px;
  position: absolute;
  height: 74px;
  top: -1px;
  left: 0;
}

.div-6 {
  width: 322px;
  position: absolute;
  height: 73px;
  top: 1px;
  left: 0;
}

.button-about-this-3 {
  left: 194px;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 22px;
  object-fit: cover;
}

.span-hlube {
  top: 7px;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  background-color: #f1f3f4;
  border-radius: 14px;
  border: 1px solid;
  border-color: #ecedef;
}

.image-3 {
  background-image: url(./img/image-2.png);
  position: relative;
  width: 18px;
  height: 18px;
  top: 5px;
  left: 5px;
  background-size: cover;
  background-position: 50% 50%;
}

.text-wrapper-15 {
  position: absolute;
  width: 44px;
  height: 20px;
  top: 0;
  left: 40px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #202124;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.text-3 {
  width: 156px;
  top: 22px;
  position: absolute;
  height: 18px;
  left: 40px;
}

.text-wrapper-16 {
  position: absolute;
  width: 152px;
  height: 14px;
  top: 1px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #4d5156;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.collection-of-sample-wrapper {
  width: 322px;
  position: absolute;
  height: 44px;
  top: 73px;
  left: 0;
  overflow: hidden;
}

.collection-of-sample {
  position: absolute;
  width: 583px;
  height: 38px;
  top: 2px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.frame-3 {
  top: 164px;
  position: absolute;
  width: 342px;
  height: 148px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 8px 8px 20px #8c8c8ce6, -8px -8px 16px #ffffffe6,
    8px -8px 16px #8c8c8c33, -8px 8px 16px #8c8c8c33,
    inset -1px -1px 2px #8c8c8c80, inset 1px 1px 2px #ffffff4c;
}

.div-7 {
  width: 325px;
  left: 8px;
  position: relative;
  height: 117px;
  top: 16px;
}

.overlap-group-4 {
  width: 325px;
  position: absolute;
  height: 74px;
  top: -1px;
  left: 0;
}

.div-8 {
  width: 325px;
  position: absolute;
  height: 73px;
  top: 1px;
  left: 0;
}

.button-about-this-4 {
  left: 140px;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 22px;
  object-fit: cover;
}

.image-4 {
  background-image: url(./img/image-3.png);
  position: relative;
  width: 18px;
  height: 18px;
  top: 5px;
  left: 5px;
  background-size: cover;
  background-position: 50% 50%;
}

.text-wrapper-17 {
  position: absolute;
  width: 122px;
  height: 20px;
  top: 0;
  left: 40px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #202124;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.text-4 {
  width: 102px;
  top: 22px;
  position: absolute;
  height: 18px;
  left: 40px;
}

.the-youtube-channel-wrapper {
  width: 325px;
  position: absolute;
  height: 44px;
  top: 73px;
  left: 0;
  overflow: hidden;
}

.the-youtube-channel {
  position: absolute;
  width: 588px;
  height: 38px;
  top: 2px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.frame-4 {
  top: 0;
  position: absolute;
  width: 342px;
  height: 148px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 8px 8px 20px #8c8c8ce6, -8px -8px 16px #ffffffe6,
    8px -8px 16px #8c8c8c33, -8px 8px 16px #8c8c8c33,
    inset -1px -1px 2px #8c8c8c80, inset 1px 1px 2px #ffffff4c;
}

.div-9 {
  width: 326px;
  left: 8px;
  position: relative;
  height: 117px;
  top: 16px;
}

.overlap-group-5 {
  width: 326px;
  position: absolute;
  height: 74px;
  top: -1px;
  left: 0;
}

.div-10 {
  width: 326px;
  position: absolute;
  height: 73px;
  top: 1px;
  left: 0;
}

.button-about-this-5 {
  left: 249px;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 22px;
  object-fit: cover;
}

.image-5 {
  background-image: url(./img/image-4.png);
  position: relative;
  width: 18px;
  height: 18px;
  top: 5px;
  left: 5px;
  background-size: cover;
  background-position: 50% 50%;
}

.text-wrapper-18 {
  position: absolute;
  width: 61px;
  height: 20px;
  top: 0;
  left: 40px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #202124;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.text-5 {
  width: 216px;
  top: 22px;
  position: absolute;
  height: 18px;
  left: 40px;
}

.text-wrapper-19 {
  position: absolute;
  width: 212px;
  height: 14px;
  top: 1px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #4d5156;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.emphasis-firebase-wrapper {
  width: 326px;
  position: absolute;
  height: 44px;
  top: 73px;
  left: 0;
  overflow: hidden;
}

.emphasis-firebase {
  position: absolute;
  width: 552px;
  height: 38px;
  top: 2px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.1px;
}
/* footer */
/* TODO */
.footer {
  position: fixed; /* ここを変更 */
  width: 372px;
  height: 45px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: #dadce0;
  box-shadow: 11px 11px 28px #878787e6, -11px -11px 22px #ffffffe6,
    11px -11px 22px #87878733, -11px 11px 22px #87878733,
    inset -1px -1px 2px #87878780, inset 1px 1px 2px #ffffff4c;
}

.group {
  position: relative;
  width: 340px;
  height: 36px;
  top: 5px;
  left: 16px;
}

.component-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  box-shadow: -5px -5px 13px #fcfcfce6, 5px 5px 10px #ffffffe6,
    -5px 5px 10px #fcfcfc33, 5px -5px 10px #fcfcfc33,
    inset 1px 1px 2px #fcfcfc80, inset -1px -1px 2px #ffffff4c;
}

.rectangle {
  position: relative;
  width: 294px;
  height: 36px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 8px 8px 20px #878787e6, -8px -8px 16px #ffffffe6,
    8px -8px 16px #87878733, -8px 8px 16px #87878733,
    inset -1px -1px 2px #87878780, inset 1px 1px 2px #ffffff4c;
}

.arrows-up-wrapper {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #55cf5b;
  border-radius: 10px;
  overflow: hidden;
}

.arrows-up {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 3px;
}
