body {
  width: 250px;
  height: 150px;
}

.switch-container,
.button-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Change here */
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text .icon,
.detail-icon-text .icon {
  margin-right: 10px;
}

.detail-icon-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Aligns icon and text to the left */
  width: 100%;
  /* Takes full width */
}

.switch-container .icon,
.button-container .icon {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button-container {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  /* Right align the button */
  align-items: center;
}

.detail-button {
  background-color: #008cba;
  /* Blue */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: left;
  /* Left align text and icon */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  /* Full width */
}

.detail-button .icon {
  margin-right: 8px;
}
#icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
